@charset "UTF-8";

/* 941px */
$pc: 941px;

@mixin pc {
  @media (min-width: ($pc)) {
    @content;
  }
}

/* 940px */
$pad: 940px;

@mixin pad {
  @media (max-width: ($pad)) {
    @content;
  }
}

$sp: 610px;

@mixin sp {
  @media (max-width: ($sp)) {
    @content;
  }
}