@charset "UTF-8";
@use 'mixin' as mixin;

.is-top {}

.section-hero {
  background-image: url(../img/top/hero.webp);
  background-size: cover;
  background-position: 50%;
  // height: 100svh;
  // width: 100%;
  text-align: right;
  // position: relative;

  // add 20251003
  .section-content {
    position: relative;
    max-width: 1280px;
    margin-inline: auto;

    height: 100svh;
    width: 100%;

    // &::before {
    //   content: '';
    //   display: block;
    //   width: 100%;
    //   height: 100%;
    //   background-color: rgba(0, 0, 0, 0.2);
    // }
  }

  .catch-wrap {
    position: absolute;
    top: 58%; // 50% 調整forGSAP
    right: 6vw; //0
    transform: translateY(-50%);
    // padding-right: 100px;

    // sp
    @include mixin.pad {
      right: 3vw;
      // padding-right: 20px;
    }
  }




  @include mixin.sp {
    max-height: 546px;
  }

  &::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
  }

  .primary-btn {
    margin-top: 100px;
    border-radius: 12px;

    @include mixin.sp {
      margin-top: 80px;
    }
  }
}

.hero {
  &__catch {
    color: #fff;
    font-size: 8rem;
    font-weight: 600;
    line-height: 1.3;
    letter-spacing: 2px;

    @include mixin.pad {
      font-size: 4.8rem;
    }

    @include mixin.sp {
      font-size: 3.2rem;
    }
  }

  &-scroll {
    position: absolute;
    left: 20px;
    bottom: 320px;
    color: #fff;
    font-family: "Montserrat",
      sans-serif;
    font-weight: 600;
    rotate: 90deg;

    @include mixin.sp {
      bottom: 200px;
      font-size: 1.1rem;
    }

    &::after {
      content: "";
      display: block;
      background: linear-gradient(90deg, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
      width: 300px;
      height: 1px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 100px;

      @include mixin.sp {
        width: 250px;
        left: 70px;
      }
    }
  }
}

.about {
  display: flex;

  // sp
  @include mixin.pad {
    flex-direction: column;
  }

  gap: 50px;
  align-items: center;

  &__title {
    font-size: 4rem;

    @include mixin.sp {
      font-size: 3.6rem;
      padding-top: 40px;
    }

    font-family: "Montserrat",
    sans-serif;
    font-weight: 600;
  }

  .text-wrap,
  .about__img {
    flex: 1;
  }

  &__img {
    max-width: 430px;
    margin-inline: auto;

    @include mixin.pad {
      max-width: 82%;
    }

    @include mixin.sp {
      // max-width: 400px;
      padding-top: 80px;
      padding-bottom: 80px;
    }
  }
}

.services {
  text-align: center;

  &__catch {
    font-size: 5.8rem;

    // @include mixin.pad {
    //   font-size: 4rem;
    // }

    @include mixin.sp {
      font-size: 2.4rem;
    }
  }

  &__text {
    font-size: 2.8rem;

    @include mixin.sp {
      font-size: 1.8rem;
    }
  }

  .flex {
    flex-direction: column;
  }

  .primary-btn,
  .secondary-btn {
    font-size: 3.6rem;
    letter-spacing: 0.05em;
    flex: 1;
    margin-inline: auto;
    width: 90%;
    // padding-top: 38px;
    line-height: 1.3;

    @include mixin.pad {
      font-size: 4.8rem;
    }

    @include mixin.sp {
      font-size: 2.4rem;
    }

    // &:not(span) {
    //   @include mixin.pad {
    //     letter-spacing: 6px;
    //   }
    // }
  }

  .flex {
    margin-top: 50px;
    gap: 30px;

    @include mixin.sp {
      flex-direction: column;
    }
  }
}

.section-features .headline {
  @include mixin.sp {
    margin-top: 100px;
  }
}

.features {
  &-point {
    border: 2px solid #00a0e9;
    border-radius: 24px;
    padding: 30px;

    &+.features-point {
      margin-top: 30px;
    }
  }

  &__num {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 3.6rem;
    color: #00a0e9;
  }

  &__title {
    font-size: 4rem;

    @include mixin.sp {
      font-size: 1.6rem;
    }

    font-weight: 600;
  }
}