@charset "UTF-8";

@use 'mixin' as mixin;

body {
  background-color: #fff;
  color: #282828;
}

@include mixin.pc {
  a:hover {
    text-decoration: none;
    opacity: 0.7;
    transition: 0.3s;
  }

  .sp,
  .pad {
    display: none !important;
  }
}

@include mixin.pad {}

@include mixin.sp {
  .pc {
    display: none !important;
  }
}

.flex {
  display: flex;
}

.section+.section:not(.section-contact, .section-terms, .terms .section) {
  padding-top: 170px;

  @include mixin.sp {
    padding-top: 50px;
  }
}

.headline__title,
.headline__sub-title {
  font-weight: 600;
  text-align: center;
}

.headline__title {
  color: #00a0e9;
  font-size: 6.4rem;

  @include mixin.sp {
    font-size: 4.8rem;
  }

  font-family: "Montserrat",
  sans-serif;
}

.headline__sub-title {
  font-size: 2.4rem;

  @include mixin.sp {
    font-size: 2rem;
  }

  position: relative;
  width: fit-content;
  margin: auto;

  &::before,
  &::after {
    content: "";
    display: block;
    width: 30px;
    height: 1px;
    background-color: #282828;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  &::before {
    left: -40px;
  }

  &::after {
    right: -40px;
  }
}

.headline__img {
  overflow: hidden;
  border-radius: 24px;
  max-height: 600px;
  max-width: 80%;
  margin-inline: auto;
  margin-top: 50px;
  text-align: center;

  @include mixin.pad {
    max-width: 90%;
  }

  @include mixin.sp {
    max-width: 100%;
    margin-top: 20px;
  }


}

.lower {

  .hero__title,
  .hero__title-jp {
    font-weight: 600;
    color: #fff;
  }

  .hero__title {
    font-size: 6.4rem;
    font-family: "Montserrat",
      sans-serif;
    line-height: 1;
    padding-top: 50px;

    @include mixin.sp {
      font-size: 4.8rem;
      white-space: nowrap;
      padding-top: 70px;
    }

  }

  .hero__title-jp {
    font-weight: 600;
    font-size: 3.2rem;
    line-height: 1.3;

    @include mixin.sp {
      font-size: 2.8rem;
    }
  }

  @include mixin.pc {

    .headline__title,
    .headline__sub-title {
      text-align: left;
    }
  }

  .headline__title {
    font-size: 4.8rem;

    @include mixin.pad {
      font-size: 6.4rem
    }

    @include mixin.sp {
      font-size: 4.8rem;
    }
  }

  .headline__sub-title {
    font-size: 2rem;

    @include mixin.pc {
      margin-left: 42px;
    }

    @include mixin.pad {
      font-size: 2.4rem;
    }

    @include mixin.sp {
      font-size: 2rem;
    }
  }
}

.section-hero.lower {
  height: 50svh;

  @include mixin.sp {
    height: 35svh;
  }

  position: relative;
  background-size: cover;
  background-position: center;
  width: 100%;
  text-align: center;

  &::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
  }

  .section-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

/*============================
パンくず
============================*/

.breadcrumbs {
  font-size: 1.1rem;

  ol {
    display: inline-block;

    li {
      display: inline-block;
      vertical-align: middle;
      padding-top: 1px;
      color: #fff;
      letter-spacing: 0.1em;

      &:after {
        content: '>';
        padding: 4px 4px 0;
        display: inline-block;
        vertical-align: top;
      }

      &:last-of-type:after {
        content: none;
      }

      a {
        color: #fff;
      }

      &:last-of-type a span {
        text-decoration: none;
      }

      a span {
        display: inline-block;
        vertical-align: middle;
        padding-top: 1px;
        text-decoration: underline;
        font-weight: 300;
        font-style: normal;
        white-space: nowrap;
        letter-spacing: 0.1em;
      }
    }
  }
}

/*============================
#footer
============================*/
.site-footer {
  background-color: #f8f7f6;
  margin-top: 60px;
}

.footer {
  padding: 60px 0;

  &__logo {
    max-width: 400px;
    margin-inline: auto;
  }

  &-links {
    display: flex;
    height: fit-content;
    justify-content: center;

    @include mixin.sp {
      flex-wrap: wrap;
      justify-content: flex-start;
    }

    &:not(.terms) {
      gap: 20px;
    }
  }

  &-links:not(.terms) {
    margin-top: 50px;
  }

  a {
    @include mixin.sp {
      font-size: 1.1rem;
    }
  }

  .flex {
    margin-top: 50px;
    justify-content: space-between;

    @include mixin.sp {
      flex-direction: column-reverse;
      align-items: center;
    }
  }

  .copy,
  &-links.terms a {
    font-size: 1.2rem;
    vertical-align: top;
  }

}

// to top 一旦非表示
// .page_top {
//   cursor: pointer;
//   transition: opacity 0.5s ease-out;
//   opacity: 0;
//   visibility: hidden;
//   pointer-events: none;
//   position: fixed;
//   bottom: 10%;
//   right: 3%;
//   display: inline-block;
//   width: 60px;
//   height: 60px;
//   border: 1px solid #fff;
//   border-radius: 50%;

//   &::after {
//     position: absolute;
//     top: 0;
//     bottom: 0;
//     left: 0;
//     margin: auto;
//     content: "";
//     vertical-align: middle;
//     left: 23px;
//     top: 3px;
//     width: 11px;
//     height: 11px;
//     border-top: 1px solid #fff;
//     border-right: 1px solid #fff;
//     transform: rotate(-45deg);
//   }

//   &.show {
//     visibility: visible;
//     opacity: 1;
//     pointer-events: auto;
//   }

//   @include mixin.pc {
//     &:hover {
//       opacity: 0.7;
//       transition: 0.3s;
//     }
//   }
// }


// nav
/*__ header _______________________*/
.site-header {
  padding: 24px;

  @include mixin.sp {
    padding: 15px;
  }

  position: fixed;
  z-index: 2;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  max-width: 1280px;
  width: 100%;

  .masthead {
    display: flex;
    border-radius: 8px;
    background-color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;

    @include mixin.pad {
      padding-top: 14px;
      padding-bottom: 14px;
    }

    @include mixin.sp {
      padding-top: 11px;
      padding-bottom: 11px;
    }

    margin-inline: auto;
    justify-content: space-between;
    padding-inline: 20px;
    align-items: center;

    .brand-logo {
      max-width: 240px;
      width: 100%;
      position: relative;
      z-index: 2;
      line-height: 1;
      padding-top: 5px;
      padding-bottom: 5px;

      @include mixin.pad {
        max-width: 220px;
      }
    }
  }

  .logo_text__img {
    margin-top: 5px;
    line-height: 1;
    width: fit-content;

    @include mixin.pc {
      margin-top: 15px;
      margin-left: 20px;
    }



    &.hide {
      display: none;
    }
  }

  // GSAP分の調整
  margin-top: -40px;
}

.globalnav {
  &-inner .menu__logo {
    max-width: 340px;
    margin-inline: auto;
    margin-top: 50px;
    width: 50%;
  }

  &-list {
    display: flex;
    align-items: center;
  }

  &__item {
    line-height: 1;

    @include mixin.pad {
      width: 100%;
    }

    a {
      display: inline-block;
      line-height: 1;
      font-weight: 500;

      @include mixin.pc {
        font-size: 1.4rem;
        padding: 6px 20px;
      }

      // sp
      @include mixin.pad {
        padding: 25px;
        width: 100%;
        color: #00a0e9;
        font-weight: bold;
        letter-spacing: 0.15em;
      }
    }

    &.contact {
      border-radius: 3px;

      @include mixin.pc {
        &:hover {
          opacity: 0.7;
          transition: 0.3s;
        }
      }

      @include mixin.pad {
        margin-bottom: 20px;
      }

      a {
        color: #fff;
      }
    }
  }

  @include mixin.pad {
    // sp
    /* メニューコンテナ全体のスタイル */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    &-list {
      flex-direction: column;
      margin-top: 80px;
    }

    &-inner {
      position: fixed;
      top: 0;
      right: -100%;
      width: 100%;
      height: 100%;
      background-color: #fff;
      transition: 0.3s;
      z-index: 1;
      overflow-y: auto;

      height: 100svh;
    }
  }
}

// ハンバーガーメニュー
@include mixin.pad {
  .nav-button {
    display: block;
    position: fixed;
    top: 47px;
    right: 46px;

    @include mixin.sp {
      top: 36px;
    }

    cursor: pointer;
    z-index: 2;
    display: flex;
    align-items: center;
  }

  .nav-bar {
    display: block;
    width: 20px;
    height: 2px;
    margin: 4px 0;
    background-color: #282828;
    transition: 0.3s;
  }

  // ハンバーガーメニューのアニメーション
  #nav-toggle:checked+.nav-button .nav-bar:nth-of-type(1) {
    transform: rotate(45deg) translate(4px, 1px);
    background-color: #00a0e9;
  }

  #nav-toggle:checked+.nav-button .nav-bar:nth-of-type(2) {
    opacity: 0;
  }

  #nav-toggle:checked+.nav-button .nav-bar:nth-of-type(3) {
    transform: rotate(-45deg) translate(7px, -5px);
    background-color: #00a0e9;
  }

  /* メニュートグルのスタイル */
  #nav-toggle {
    display: none;
  }

  /* メニュートグルがチェックされた場合のメニューの表示アニメーション */
  #nav-toggle:checked~.globalnav-inner {
    right: 0;
  }
}

// MENU の字
.nav-bar-text {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 1;

  @include mixin.sp {
    display: none;
  }
}

.primary-btn,
.secondary-btn {
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.1);
  display: inline-block;
  font-size: 3.2rem;
  border-radius: 24px;

  @include mixin.sp {
    font-size: 1.8rem;
    padding-left: 12px;
  }

  padding: 20px 40px 25px;
  line-height: 1;
  background-color: #d92f19;
  color: #fff;
  position: relative;
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.5) 50%, transparent 50%);
  background-position: 100%;
  background-size: 250%;
  transition: 0.3s;

  &::after {
    position: absolute;
    margin: auto;
    content: "";
    vertical-align: middle;
    width: 11px;
    height: 11px;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
    right: 20px;
    transition: 0.3s;
  }

  &:hover {
    background-position: 0;

    &::after {
      right: 15px;
      transition: 0.3s;
    }
  }

  .small {
    font-size: 56%;

    @include mixin.sp {
      font-size: 1.6rem;
    }
  }
}

.secondary-btn {
  background-color: #00a0e9;
}

// ページ遷移時アニメ
.slide-in {
  &::before {
    position: fixed;
    z-index: 999; //999
    top: 0;
    display: block;
    opacity: 0;
    width: 100%;
    height: 100svh;
    content: '';
    background-color: #000;
    right: 0;
    animation: slide-in 0.5s ease-out forwards;
  }
}

@keyframes slide-in {
  0% {
    transform: translateX(0%);
    opacity: 1;
    visibility: visible;
  }

  99% {
    transform: translateX(100%);
    opacity: 1;
    visibility: visible;
  }

  100% {
    opacity: 0;
    visibility: hidden;
  }
}


// forGSAP
.anm-wrap {
  position: relative;
  overflow: hidden;
}

.blindfold {
  position: absolute;
  z-index: 1;
  background-color: #fff;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}