@charset "UTF-8";
@use 'mixin' as mixin;

.is-company {}

.section-hero {
  background-image: url(../img/company/hero.webp);
}

.hero {
  &__catch {
    color: #fff;
    font-size: 8rem;
    font-weight: 600;
    line-height: 1.3;
  }

}

.message,
.about {
  @include mixin.pc {
    display: flex;
  }

  justify-content: space-between;
  gap: 95px;

  &__img {
    overflow: hidden;
    border-radius: 24px;
    width: 100%;
    text-align: center;
    flex: 3;
    margin-inline: auto;

    // @include mixin.pad {
    //   max-width: 50%;
    // }

    @include mixin.sp {
      max-width: initial;
    }

    img {
      object-fit: cover;
      height: 100%;

      //add
      width: 100%;
    }
  }

  &-wrap {
    width: 100%;
    flex: 4;
  }
}

.message {

  .headline__sub-title {
    @include mixin.pc {
      margin-top: 80px;
    }
  }

  &__catch {
    font-size: 3.2rem;

    @include mixin.sp {
      font-size: 2rem;
    }

    padding-top: 20px;
    padding-bottom: 20px;
  }

  &-wrap {
    padding-bottom: 60px;
  }

  &__text+.message__text {
    margin-top: 20px;
  }
}

.about {
  &__img {
    @include mixin.pad {
      display: none;
    }
  }

  &-define {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
    font-weight: 600;
    margin-top: 20px;
  }

  &-define__title:first-of-type {
    border-top: 1px solid #e8e8e8ff;
  }

  &-define__detail:first-of-type {
    @include mixin.pc {
      border-top: 1px solid #e8e8e8ff;
    }
  }

  &-define__title,
  &-define__detail {
    border-bottom: 1px solid #e8e8e8ff;
    padding-top: 20px;
    padding-bottom: 20px;

    // 20250916
    @include mixin.sp {
      width: 100% !important;
    }
  }


  &-define__title {
    width: 150px;

    @include mixin.sp {
      padding: 5px;
      border-bottom: none;
    }
  }

  &-define__detail {
    @include mixin.sp {
      padding: 5px;
    }

    width: calc(100% - 150px);
  }
}

.map {
  margin-top: 50px;

  iframe {
    border: 0;
    width: 100%;
    border-radius: 24px;
  }
}