@charset "UTF-8";

@use 'mixin' as mixin;

.is-contact {}

.section-hero {
  background-image: url(../img/contact/hero.webp);
}

.contact {
  // forGSAP
  padding-top: 40px;

  &__title {
    font-size: 3.6rem;

    @include mixin.sp {
      font-size: 2.6rem;
    }

    text-align: center;
    margin-top: 60px;
  }

  &__text {
    text-align: center;
    font-size: 2rem;

    @include mixin.sp {
      font-size: 1.4rem;
    }

    margin-top: 20px;

    &.caution {
      color: #d92f19;
    }
  }

  &-form {
    background-color: #f8f7f6;
    border-radius: 24px;
    margin-top: 40px;
    margin-inline: auto;
    padding: 30px;
  }

  .form-table {
    width: 100%;
  }

  .form-table tr+tr {
    display: block;
    padding-top: 30px;
  }

  .form__th {
    display: inline-flex;

    // 必須
    .required,
    .optional {
      line-height: 1;
      padding: 4px 10px 5px;
      display: inline-block;
      border-radius: 20px;
      font-size: 1.2rem;
      margin-left: 10px;
      font-weight: normal;
    }

    .required {
      background-color: #00a0e9;
      color: #fff;
    }

    .optional {
      background-color: #cccccc;
    }
  }

  .form__td {
    display: block;

    &:not(:has(input)) {
      padding-top: 6px;
      padding-bottom: 6px;
    }
  }

  input {
    padding: 10px 15px;
    margin-top: 5px;
    border-radius: 3px;
    background-color: #fff;
    border: 1px solid #cccccc;
  }

  input[type="text"],
  input[type="tel"],
  input[type="email"] {
    width: 100%;
  }

  textarea {
    border: 1px solid #cccccc;
    width: 100%;
    padding: 10px 5px;
    margin-top: 10px;
    border-radius: 3px;
    background-color: #fff;

    &::placeholder {
      color: #cccccc;
    }
  }

  .wpcf7-list-item {
    margin-left: 0;
  }

  .wpcf7-list-item-label a {
    text-decoration: underline;
    text-underline-offset: 5px;
    color: #707070;
  }

  .wpcf7-previous,
  input[type="submit"] {
    background-color: #d92f19;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    padding: 13px 50px 12px;
    border-radius: 3px;
    margin-inline: auto;
    display: block;
    width: 100%;

    @include mixin.pc {
      &:hover {
        opacity: 0.7;
        transition: 0.3s;
      }
    }
  }

  input[type="submit"] {
    margin-top: 20px;
  }

  // back-btn
  .wpcf7-previous {
    background-color: #cccccc;
    color: #282828;
    margin-top: 40px;
  }

  .wpcf7-radio {
    display: grid;
  }

  .wpcf7-acceptance {
    margin-top: 20px;
    display: block;
  }

  .wpcf7-not-valid-tip {
    font-size: 1.7rem;
    display: inline-block;
    padding-top: 6px;
  }

  .wpcf7-response-output {
    font-size: 2.0rem;
    color: #d92f19;
    padding: 10px 10px 15px;
  }

  .sent .wpcf7-response-output {
    border: none;
    background-color: #fff;
    color: #00a0e9;
  }

  .cf7-cf-turnstile {
    text-align: center;
  }

}