@charset "UTF-8";

@use 'mixin' as mixin;

.is-terms {}

// プライバシーポリシー用hero
.section-hero {
  background-image: url(../img/privacy/hero.webp);
}

// 約款類は共通
.terms {

  .section {
    padding-top: 50px;
  }

  &__title+.terms__text {
    margin-top: 10px;
  }

  &__text.lead {
    padding-top: 50px;
  }

  &-list {
    padding-top: 15px;
  }


  &-define {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
    margin-top: 20px;
  }

  &-define__title {
    width: 150px;
  }

  &-define__detail {
    width: calc(100% - 150px);
  }

  &-define+.terms__text {
    margin-top: 20px;
  }
}