@charset "UTF-8";
@use 'mixin' as mixin;

.is-top {}


// gemini
.section-hero {
  position: relative;
  background-image: url(../img/top/hero.webp);
  background-size: cover;
  background-position: 50%;
  text-align: right;
  height: 100vh;

  @include mixin.pad {
    height: 90vh;
  }

  @include mixin.sp {
    max-height: 465px;
  }

  &::before {
    content: '';
    display: block;
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
  }

  .section-content {
    // (推奨: .section-hero__content などBEMに合わせる)
    position: relative;
    max-width: 1280px;
    margin-inline: auto;
    height: 100%;
    width: 100%;
  }

  .catch-wrap {
    position: absolute;
    z-index: 1; //2
    top: 58%; // 調整forGSAP
    right: 30px;
    transform: translateY(-50%);

    @include mixin.sp {
      transform: none;
      top: 190px;
      right: 20px;
    }
  }

  .primary-btn {
    margin-top: 100px;
    border-radius: 12px;

    @include mixin.sp {
      margin-top: 60px;
    }
  }
}

.hero {
  &__catch {
    color: #fff;
    font-size: 8rem;
    font-weight: 600;
    line-height: 1.3;
    letter-spacing: 2px;

    @include mixin.pad {
      font-size: 4.8rem;
    }

    @include mixin.sp {
      font-size: 3.2rem;
    }
  }

  &-scroll {
    position: absolute;
    z-index: 2;
    left: 20px;
    top: 500px;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    rotate: 90deg;

    @include mixin.sp {
      top: 250px;
      font-size: 1.1rem;
    }

    &::after {
      content: "";
      display: block;
      background: linear-gradient(90deg, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
      width: 300px;
      height: 1px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 100px;

      @include mixin.sp {
        width: 250px;
        left: 70px;
      }
    }
  }
}




.about {
  display: flex;

  // sp
  @include mixin.pad {
    flex-direction: column;
  }

  gap: 50px;
  align-items: center;

  &__title {
    font-size: 4rem;

    @include mixin.sp {
      font-size: 3.6rem;
      padding-top: 40px;
    }

    font-family: "Montserrat",
    sans-serif;
    font-weight: 600;
  }

  .text-wrap,
  .about__img {
    flex: 1;
  }

  &__img {
    max-width: 430px;
    margin-inline: auto;

    @include mixin.pad {
      max-width: 82%;
    }

    @include mixin.sp {
      // max-width: 400px;
      padding-top: 80px;
      padding-bottom: 80px;
    }
  }
}

.services {
  text-align: center;

  &__catch {
    font-size: 5.8rem;

    // @include mixin.pad {
    //   font-size: 4rem;
    // }

    @include mixin.sp {
      font-size: 2.4rem;
    }
  }

  &__text {
    font-size: 2.8rem;

    @include mixin.sp {
      font-size: 1.8rem;
    }
  }

  .flex {
    flex-direction: column;
  }

  .primary-btn,
  .secondary-btn {
    font-size: 3.6rem;
    letter-spacing: 0.05em;
    flex: 1;
    margin-inline: auto;
    width: 90%;
    // padding-top: 38px;
    line-height: 1.3;

    @include mixin.pad {
      font-size: 4.8rem;
    }

    @include mixin.sp {
      font-size: 2.4rem;
    }

    // &:not(span) {
    //   @include mixin.pad {
    //     letter-spacing: 6px;
    //   }
    // }
  }

  .flex {
    margin-top: 50px;
    gap: 30px;

    @include mixin.sp {
      flex-direction: column;
    }
  }
}

.section-features .headline {
  @include mixin.sp {
    margin-top: 100px;
  }
}

.features {
  &-point {
    border: 2px solid #00a0e9;
    border-radius: 24px;
    padding: 30px;

    &+.features-point {
      margin-top: 30px;
    }
  }

  &__num {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 3.6rem;
    color: #00a0e9;
  }

  &__title {
    font-size: 4rem;

    @include mixin.sp {
      font-size: 1.6rem;
    }

    font-weight: 600;
  }
}